
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #0F172A;
    --accent1: #7C3AED;
    --accent2: #04B971;
  }

  .dark {
    --background: #0F172A;
    --foreground: #F8FAFC;
    --accent1: #7C3AED;
    --accent2: #04B971;
  }
  html {
    font-family: Inter, system-ui, sans-serif;
    @apply bg-background text-foreground transition-theme duration-300;
  }
  body {
    @apply bg-background text-foreground transition-theme duration-300;
  }
}

@layer utilities {
  .gradient-accent {
    background-image: linear-gradient(45deg,#7C3AED,#04B971);
  }
  .gradient-accent-text {
    @apply bg-gradient-to-r from-[var(--accent1)] to-[var(--accent2)] bg-clip-text text-transparent;
  }
  .glass {
    @apply bg-white/70 dark:bg-white/5 backdrop-blur-xl border border-border shadow-card;
  }
  .card-radius {
    @apply rounded-xl;
  }
  .fade-slide {
    animation: fade-slide 0.15s cubic-bezier(.47,1.64,.41,.8) forwards;
  }
}
